<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<base href="[[++site_url]]">

[[mgmgPrepareOutput? 
&scriptTpl=`mgmgScriptsBasic`
&resource_ids=`19,20`
&tvname=`markers`
&map_center=`49.84506373417466, 9.597742980957037`
]]
</head>
<body>
  <div id="mapCanvas"></div>
  <div class="right">
  <h2 id="marker-title"></h2>
  <div id="infoPanel">
    <b>Position:</b>
    <div id="info2"></div>    
    <div id="marker-file"></div> 
  </div>


</div>

</body>
</html>